$secondary: "Roboto Slab", serif;
.footer {
  background-color: rgb(38, 37, 35);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  & .footerContainer {
    color: white;
    padding: 1rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;

    & .companyInfo {
      width: 24rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      & .companyMainInfo {
        margin-left: 0.4rem;
        & .comDes {
          font-size: 0.8rem;
          font-weight: 200;
          font-family: $secondary;
          padding-top: 2px;
        }
        & .comName {
          font-size: 1.2rem;
          font-weight: 300;
          font-family: "Playfair Display", serif;
          border-bottom: 1px solid white;
          padding-bottom: 3px;
          text-transform: uppercase;
          letter-spacing: 0.5mm;
          text-align: end;
        }
      }
      & .para {
        font-family: "Poppins", sans-serif;
        line-height: 5mm;
        font-size: 0.8rem;
        padding-left: 1rem;
        word-spacing: 0.6mm;
        & p {
          text-align: justify;
        }
      }
    }

    & .contact {
      /*    margin: 0 1rem 0 1rem; */
      display: flex;
      flex-direction: column;
      /*       align-items: center; */
      & h3{
        width: max-content;

      }
      & .contact_container {
        display: flex;
        flex-direction: column;
        & .location {
          font-size: 1rem;
          display: flex;
          align-items: center;
          margin-bottom: 0;
          padding-left: 0.5rem;
          /*  opacity: 0.7; */
          word-break: break-all;
          text-align: justify;
          & p {
            text-align: justify;
          }
        }
        & .info {
          display: inline-flex;
          text-align: justify;
          margin-top: 0.5rem;
          & p {
            text-align: justify;
          }
          & .address {
            & p {
              margin-bottom: 0;
              text-align: start;
              margin-left: 0.5rem;
            }
          }
        }
        & .info:nth-child(1) {
          width: 14.5rem;
        }
      }
    }

    & .quickLinks {
      /*  opacity: 0.6; */
      display: flex;
      flex-direction: column;
      align-items: center;
      & .navLinks {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        /*  opacity: 0.6; */
        & .pageLink {
          font-size: 1rem;
          & a {
            color: white;
            text-decoration: none;
            & li {
              list-style: square;
            }
          }
        }
      }
    }
  }
  & .copyright {
    border-top: 1px solid rgba(152, 151, 151, 0.352);
    color: white;
    & .lowerFooter {
      display: flex;
      justify-content: space-around;
      align-items: center;
      & .socialMedia {
        display: flex;
        & a {
          color: white;
          font-size: 2rem;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
.hr {
  border: 3px solid rgb(239, 202, 18);
  width: 100%;
  background-color: rgb(239, 202, 18);
  border-radius: 4px;
}

.footer_logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  & .shark_logo {
    background-color: white;
    width: max-content;
  }
}
