$maroon: hsl(5, 71%, 51%);
$yellow: rgb(255, 217, 25);

$grident: linear-gradient(
  90deg,
  rgba(249, 51, 30, 0.9332107843137255) 9%,
  rgba(248, 138, 32, 1) 43%,
  rgba(247, 220, 34, 1) 95%
);

.container {
  & .home_first_row {
    display: flex;
    flex-direction: column;
    
    & .home_info_card {
      display: flex;
      flex-direction: row;
      /*  gap: 3rem; */
      justify-content: center;
      min-height: 22rem;
      align-items: center;
      flex-wrap: wrap;

      & .home_info_child {
        font-size: 2rem;
        color: white;
        width: 20rem;
        margin: 2rem;
        /* background-color: $yellow; */
        /*         border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
 */
        & .home_row_card {
          text-align: center;
          padding: 1.5rem;
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
          border-top: 0;

          & p {
            font-size: 1.2rem;
          }
        }
        &:is(:nth-of-type(1), :nth-of-type(3)) {
          background-color: $maroon;
          border-top: 1rem solid $yellow;
          color: white;
        }
        &:is(:nth-of-type(2)) {
          background-color: $yellow;
          border-top: 1rem solid $maroon;
          color: black;
        }
      }
    }
  }
  & .home_second_row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 1rem 0 1rem 0;
    background-image: url('/images/banner02.jpg');
    background-repeat: no-repeat;
    background-size: cover;

   & .glory {
         & h3{
           border: 2px solid rgb(251, 186, 21);
           border-radius: 5rem;
           padding: 2rem;
           background-color: goldenrod;
           font-size: 3rem;
         }
    }
  }
  & .home_third_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: whitesmoke;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    flex-wrap: wrap;
    cursor: pointer;
    & .ownerImg {
      width: fit-content;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      margin: 2rem;
      height: min-content;
    }
    & .vision_desc {
      max-width: 28rem;
      padding-left: 1rem;
      & strong {
        font-family: "Permanent Marker", cursive;
      }
      & p {
        padding: 0.6rem;
        font-weight: 600;
        font-family: 'Nunito', sans-serif;
        letter-spacing: 0.2mm;
          
   /*      text-align: center; */
      }
      & h3 {
        text-align: center;
        color: $maroon;
        font-family: "Roboto Serif", sans-serif;
      }
    }
  }
  & .home_review_row {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;

    & .review_card {
      display: inline-block;
      display: flex;
      flex-direction: column;
      width: 18rem;
      min-width: 18rem;
      border: 3px solid $yellow;
      padding: 1rem;
      border-radius: 1rem;
      margin: 1rem;
      height: 13rem;
      & h4 {
        font-family: "Roboto Serif", sans-serif;
        text-align: center;
      }
      & strong {
        font-family: "Permanent Marker", cursive;
      }
      & .com {
        text-align: end;
      }
      & p {
        text-align: center;
        font-weight: 500;
        opacity: 0.6;
        box-sizing: border-box;
        font-size: 0.8rem;
      }
    }
  }
  & .home_brands_informations{
   /*  border-top: 1px solid rgba(29, 27, 27, 0.183); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;

    & .home_brands_informations_heading{
      background-color: $maroon;
      color: white;
      width: 100%;
      text-align: center;
    }
    
    & .home_brands_content{
      flex-wrap: wrap-reverse;
      justify-content: space-evenly;
      display: flex;
      width: 100%;
     & .logo{ 
   
      flex-direction: column;
       & .brand_logo{
           margin: 1rem;
       }
    }
    & .text{
      display: flex;
      flex-direction: column;
      align-items: center;
    /*   justify-content: center; */
      max-width: 23.5rem;
      font-size: 1rem;
      font-family: 'Nunito', sans-serif;
     /*  text-align: center; */
     padding:.6rem;
      & h5{
        font-family: "Roboto Serif", sans-serif;
        text-align: center;
        font-weight: 700;
        font-size: 1.7rem;
        border-bottom: 5px solid $yellow;
        margin-bottom: 1rem;
        margin-top: 1rem;
      }
      & p{
        margin-top: 1rem;
      }
    }
  }
  }
}


  .inner_heading{
    display: none;
      text-align: center;
      color: white;
      padding: 1rem;
  & .inner_content{
      & .cardItems{
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          margin: 1rem;
          & p{
          margin-bottom: 0;
          text-align: center;
          margin-left: 1rem ;
          font-weight: 600;
          font-family: 'Roboto Serif', sans-serif;
          }
      }
      & .cardItems > div{
          color: green;
          font-weight: 1000;
          font-size: 2rem;
      }
  }
  & h2{
      margin: 0 2rem 0 2rem;
  }
  & .cardbttn{
      background-color: $yellow;
      padding: 0.6rem;
      border-radius: .3rem;
      border: none;
      font-weight: 600;
  }
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .text{
    & h5{
      font-size: 0.2rem;
      color:red
    }
  }
  .inner_heading{
    display: block;
  }
  .home_second_row{
    & .card{
      display: none;
    }
  }
}
.home_review_row::-webkit-scrollbar {
  width: 2px;


}
 
.home_review_row::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  
}
 
.home_review_row::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}