.products {
  & .pageHeader {
    /*  background-image: url('/images/products-banner.jpg') ; */
    /* background-color: hsl(56, 76%, 75%); */
    background: rgb(249,51,30);
background: linear-gradient(90deg, rgba(249,51,30,0.9332107843137255) 9%, rgba(248,138,32,1) 43%, rgba(247,220,34,1) 95%);
    padding: 5rem;
    padding-left: 1rem;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    font-family: "Roboto Serif", sans-serif;
    font-weight: 600;
    color: white ;
  }
  & .productheading{
      margin: 3rem;
      width: max-content;
      & .horizontalrow{
          border: 3px solid hsl(5, 71%, 51%);
        
      }
  }
}
.listedProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  & .productcontainer {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;

  
    margin: 1rem;
    max-width: 20rem;
    border-radius: .5rem;
    transition:all 0.3s ease;
    border: 2px solid rgba(0, 0, 0, 0.27);
    height: max-content;
    cursor: pointer;
    & .productImg {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;

      & .productName {
        font-weight: 800;
        font-family: 'Lato', sans-serif;
        font-size: 1.2rem;
        color:rgba(0, 0, 0, 0.852);
        background-color:rgb(255, 217, 26);
        padding: 1rem;
        margin: 0;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
      }
    }
    & .productDesc {
      max-width: 30rem;
    }
  }
  & .productcontainer:hover{
      scale: 2;
      border: 2px solid rgb(255, 221, 53);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
